@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(229, 229, 229, 0) 101.67%), linear-gradient(180deg, #FFFFFF 15.44%, rgba(229, 229, 229, 0) 100%), url("../../assets/How-to-Become-a-Radiologist.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

h1{
    font-family: 'Circular Std', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.75);
    margin-bottom: 20px;
}



.fileUploaderContainer{
    width: 80%;
    margin: 30px 10%;
    background: #FFFAFA;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px;

}

.grid{
    padding: 0;
}

.gridLeft{
    padding: 0;
    position: relative;
}

.gridRight{
    padding: 0;
}

.drag-area{
    border: 2px dotted gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;
    padding: 0;
}

.drag-area .icon{
    font-size: 60px;
    color: #38c40a;
    padding: 0;
}
.drag-area .dragText{
    font-family: 'Circular Std', serif;
    font-size: 24px;
    font-weight: 500;
    color: #38c40a;
    padding: 0;
    margin-top: 20px;
}
.chooseBtn{
    padding: 10px 25px;
    font-family: 'Circular Std', serif;
    font-size: 20px;
    border: none;
    outline: none;
    background: #38c40a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}
.drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.detailCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFAFA;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-content: center;
    padding: 0 10px;
    margin: 20px 10px;
}

.detailCard .cardIcon{
    font-size: 30px;
}

.detailCard button{
    border: none;
    background-color: transparent;
}

.imageFileName{
    font-family: 'Circular Std', serif;
    /*font-size: 14px;*/
}

.loadingAnimation{
    padding: 0;
}

.enhanceBtn{
    font-family: 'Circular Std', serif;
    font-size: 20px;
    line-height: 50px;
    border: none;
    outline: none;
    background: #019dad;
    color: white;
    cursor: pointer;
    width: 60%;
    padding: 10px 0;
    margin: 0 20%;
    /* border-radius: 10px; */
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.loading-div {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
}